@import "../../utils/variables";

:host {
  display: block;
}

.MyButton {
  font-size: 1.2rem;
  width: max-content;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:disabled {
    background-color: $light-grey;
    color: $grey;
    cursor: not-allowed;
    box-shadow: none;
  }

  /** Colors **/
  &.primary {
    background: linear-gradient(to right bottom, $blue, rgba($blue, 0.7));
    border: none;
    color: $white;
    transition: 0.3s;
    &:hover,
    &:focus {
      box-shadow: 3px 4px 6px $grey;
    }
    &:active {
      box-shadow: 3px 4px 6px $grey;
    }
  }
  &.secondary {
    background: linear-gradient(to right bottom, $green, $light-green);
    color: $white;
    &:hover,
    &:focus {
      box-shadow: 3px 4px 6px $grey;
    }
  }
  &.outlined {
    background: transparent;
    border: 1px solid $blue;
    border-radius: 4px;
    color: $blue;
    transition: 0.3s;
    &:hover,
    &:focus {
      color: $white;
      background: linear-gradient(to right bottom, $light-blue, $blue);
    }

    &:active {
      background-color: $light-blue;
      color: $white;
    }
  }

  /** Shape **/
  &.full {
    border-radius: none;
  }
  &.round {
    border-radius: 5rem;
    overflow: hidden;
    min-width: 56px;
  }
  &.smooth {
    border-radius: 4px;
  }

  /** Size **/
  &.large {
    padding: 15px 25px;
  }
  &.medium {
    padding: 10px 20px;
  }
  &.small {
    padding: 8px 15px;
  }

  /** Elevation **/
  &.elevation {
    box-shadow: 3px 4px 6px rgba(0, 0, 0, $alpha: 0.3);
  }
}
